<article class="message">
    <div class="message-header">
        Welcome to the Dashboard!
    </div>
    <div class="message-body">
        <div class="columns">
            <div class="column">
                <p class="title">You can administrate everything from here.</p>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">Site Settings</p>
                    </div>
                    <footer class="card-footer">
                        <a href="editSiteSettings" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">SOON</p>
                    </div>
                    <footer class="card-footer">
                        <a href="editSiteSettings" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">SOON</p>
                    </div>
                    <footer class="card-footer">
                        <a href="editSiteSettings" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">SOON</p>
                    </div>
                    <footer class="card-footer">
                        <a href="editSiteSettings" class="card-footer-item">Edit</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</article>