<% if (admin) { %>
<div style="width: 100%; color: white; background-color: black; padding: 5px;">
    <h3 style="text-align: center;">Navigation bar</h3>
    <ul style="text-align: center;">
        <li style="display:inline; padding: 2px;"><a href="/">Startpage</a></li>
        <li style="display:inline; padding: 2px;"><a href="/dashboard">Dashboard</a></li>
        <li style="display:inline; padding: 2px;"><a href="/create">Create new Post</a></li>
    </ul>
</div>
<% } %>