<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item title" href="#">
            Fritz CMS
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <% if (admin) { %>
            <a class="navbar-item" href="/dashboard">Dashboard</a>
            <a class="navbar-item" href="/create">New Post</a>
            <% } %>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <% if (!admin) { %>
                <div class="buttons">
                    <a href="/login" class="button is-light">
                        Log in
                    </a>
                </div>
                <% } %>
                <% if (admin) { %>
                <div class="buttons">
                    <a href="/logout" class="button is-dark">
                        Logout
                    </a>
                </div>
                <% } %>
            </div>
        </div>

</nav>