<div style="width: 100%;">
    <a href='post?id=<%= postID %>'' style="color:black; border: 1px, black;">
        <h3><%= postTitle %></h3>
        <span><%= postDate %></span>
        <p><%= postDescription %></p>
    </a>
</div>