<div class="card">
    <div class="card-content">
        <p class="title"><%= postTitle %></p>
        <p class="subtitle"><%= postDescription %></p>
    </div>
    <footer class="card-footer">
        <a href="post?id=<%= postID %>" class="card-footer-item">Read more</a>
        <% if (admin) { %>
        <a onclick="deletePost(<%= postID %>)" class="card-footer-item ">Delete</a>
        <% } %>
    </footer>
</div>