<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<%- include ("../partials/head") %>
<%- include ("../scripts/postData") %>
<div class="section">
    <%- include ("../partials/navigationBar") %>
    <form>
        <h1 class="title">Create your post</h1>
        <div class="field">
            <label class="label">Post Title</label>
            <div class="control">
                <input class="input" id="postTitle" type="text" name="title" />
            </div>
        </div>
        <div class="field">
            <label class="label">Post Description</label>
            <div class="control">
                <input class="input" id="postDesc" type="text" name="title" />
            </div>
        </div>
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <div id="postContent" class="textarea" placeholder="Textarea"></div>
            </div>
        </div>
        <div class="control">
            <button onclick="createPost()" class="button is-link">Submit</button>
        </div>
    </form>
</div>
<!-- EDITOR INITIALIZER -->
<script>
    var quill = new Quill('#postContent', {
        theme: 'snow'
    });

    function createPost() {
        let title = document.getElementById("postTitle").value;
        let desc = document.getElementById("postDesc").value;
        var content = quill.getContents();
        postData('doCreate', {
                title: title,
                description: desc,
                content: content
            })
            .then(data => {
                console.log(data)
                if (data) {
                    if (data.success) {
                        window.location.href = "dashboard";
                    } else {
                        alert("Something went wrong!")
                        window.location.href = "dashboard";
                    }
                } else {
                    alert("Something went wrong!")
                    window.location.href = "dashboard";
                }
            }).catch(e => {
                alert("Error! Server responded with invalid JSON!")
            });
    }
</script>