<%- include ("../partials/head") %>


<div class="section">
    <%- include ("../partials/navigationBar") %>
    <div class="section">
        <%- include ("../partials/dashboard-header") %>
        <div class="section">
            <span class="title-2">Your most recent posts:</span>
            <ul>
                <% posts.forEach(function(post){ %>
                <%- include('../partials/post-previews', {
                postTitle: post.title,
                postDescription: post.description,
                postDate: post.date,
                postID: post.postID,
            }); %>
                <% }); %>
            </ul>
        </div>
    </div>
</div>