<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
  </head>

  <body class="container">
    <main>
      <div class="jumbotron">
        <h1><%= siteTitle %></h1>
        <p><%= siteDescription %></p>
      </div>
    </main>
  </body>
</html>
