<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
  </head>

  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Please login</h1>
        <form action="/doLogin" method="GET">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg"
                >Username</span
              >
            </div>
            <input type="text" name="username" />
          </div>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg"
                >Password</span
              >
            </div>
            <input type="password" name="password" />
          </div>
          <input type="submit" value="Login" />
        </form>
      </div>
    </main>
  </body>
</html>
