<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") %>
</head>

<div class="section">
  <%- include ("../partials/navigationBar") %>
  <div class="container">
    <div id="incorrect" class="notification is-danger">
      <h1>Username or password was wrong.</h1>
    </div>
    <form>
      <h1 class="title">Please login</h1>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" id="username" type="text" name="username" />
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" id="password" type="password" name="password" />
        </div>
      </div>
      <div class="control">
        <button onclick="login()" class="button is-link">Login</button>
      </div>
    </form>
  </div>
  <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const incorrect = urlParams.get('incorrect')
    console.log(urlParams)
    document.getElementById('incorrect').style.display = 'none';
    if (incorrect) {
      document.getElementById('incorrect').style.display = 'block';
    }

    function login() {
      let password = document.getElementById("password").value;
      let username = document.getElementById("username").value;
      postData("doLogin", {
          username: username,
          password: password,
        })
        .then((data) => {
          console.log(data);
          if (data) {
            if (data.success) {
              window.location.href = "dashboard";
            } else {
              window.location.href = "login?incorrect=true";
            }
          } else {
            window.location.href = "login?incorrect=true";
          }
        })
        .catch((e) => {
          window.location.href = "login?incorrect=true";
        });
    }
  </script>
</div>

</html>