<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<div class="section">
    <%- include ("../partials/navigationBar") %>
    <div class="container">
        <form>
            <h1 class="title">Please login</h1>
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" id="username" type="text" name="username" />
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" id="password" type="password" name="password" />
                </div>
            </div>
            <div class="control">
                <button onclick="login()" class="button is-link">Login</button>
            </div>
        </form>
    </div>
    <script>
        function login() {
            let password = document.getElementById("password").value;
            let username = document.getElementById("username").value;
            postData('doLogin', {
                    username: username,
                    password: password,
                })
                .then(data => {
                    console.log(data)
                    if (data) {
                        if (data.success) {
                            window.location.href = "dashboard";
                        } else {
                            alert("Password is not correct")
                        }
                    } else {
                        alert("Password is not correct")
                    }
                }).catch(e => {
                    alert("Password is not correct")
                });
        }
    </script>
</div>

</html>