<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">
    <%- include ("../partials/navigationBar") %>
    <main>
        <div class="jumbotron">
            <h1><%= postTitle %></h1>
            <br>
            <p><%= postContent %></p>
            <br>
        </div>
    </main>
</body>

</html>